<div class="cart-container">
  <app-book-display-card *ngFor="let cartItem of currentLoggedUser?.cart?.items; let i = index" [book]="cartItem.item">
    <div>
      <label for="quantity">Quantity:</label>
      <select [(ngModel)]="currentLoggedUser?.cart!.items[i].quantity" (ngModelChange)="onQuantityChange(cartItem, $event)">
        <option *ngFor="let quantity of quantityArray">{{quantity}}</option>
      </select>
    </div>
    </app-book-display-card>
  <div class="empty-cart" *ngIf="emptyCart">
    <h3>Your cart is empty.</h3>
  </div>
</div>
