<div class="cart-container">
  <app-book-display-card *ngFor="let cartItem of currentLoggedUser?.cart?.items; let i = index" [book]="cartItem.item">
    <button (click)="onRemoveClick(cartItem)">Remove</button>
    <div>
      <label for="quantity">Quantity:</label>
      <select (change)="onQuantityChange(cartItem, $event)">
        <option [selected]="quantity === currentLoggedUser?.cart!.items[i].quantity" *ngFor="let quantity of quantityArray">{{quantity}}</option>
      </select>
    </div>
  </app-book-display-card>
  <div class="modal" *ngIf="displayModal">
    <div class="modal-content">Remove the item, are you sure?
      <button (click)="onYesClick()">Yes</button>
      <button (click)="onNoClick()">No</button>
    </div>
  </div>
  <div class="empty-cart" *ngIf="emptyCart">
    <h3>Your cart is empty.</h3>
  </div>
</div>
<div class="modal" *ngIf="displayModal">
  <div class="modal-content">Remove the item, are you sure?
    <button (click)="onYesClick()">Yes</button>
    <button (click)="onNoClick()">No</button>
  </div>
</div>

