.cart-container {
  display: grid;
  padding-top: 4rem;
  min-height: 100vh;
  width: 100%;
  grid-auto-flow: column;
  background: #1a3953;
}

.empty-cart {
  text-align: center;
}

h3{
  color: white;
}
