<app-admin-header></app-admin-header>
<div class="container">
  <h3>Administrator password change</h3>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmitPasswordChangeForm()">
    <input
      type="password"
      class="input-text"
      placeholder="Current password"
      formControlName="currentPassword"
      required
    />
    <div class="invalid-message" *ngIf="currentPassword?.touched && currentPassword?.invalid">{{invalidPasswordMessage()}}</div>
    <div class="invalid-message" *ngIf="currentPasswordMismatch">Incorrect current password</div>
    <input
      type="password"
      class="input-text"
      placeholder="New password"
      formControlName="password"
      required
    />
    <div class="invalid-message" *ngIf="newPasswordEqualsCurrent">Current password and new password cannot be identical</div>
    <div class="invalid-message" *ngIf="password?.touched && password?.invalid">{{invalidPasswordMessage()}}</div>
    <input
      type="password"
      class="input-text"
      placeholder="Repeat new password"
      formControlName="repeatPassword"
      required
    />
    <div class="invalid-message" *ngIf="passwordRepeated?.touched && (passwordRepeated?.invalid || passwordChangeForm.errors?.['passwordMismatch'])">{{passwordMismatchMessage()}}</div>
    <button type="submit" [disabled]="passwordChangeForm.invalid" class="button-submit">Change password</button>
  </form>
  <h3 *ngIf="changeSuccess">Password change successfuly, returning to managment page...</h3>
</div>

